.chat-window {
  background-color:green;
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  flex-direction: column;
  display: flex;
}
